*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;  
}
body{
	background: lightblue;
}
p{
	font-family: Brush Script MT, Brush Script Std, cursive;
}
h1,h2,h3,h4,h5,h6{
	text-align: center;
}
.contebt{
	margin-top: 17.8px;
	background: #fff;
}
.opis{
	border-left: solid 4.9px;  
}
.inshe{
	margin-left: 5px;
	margin-top: 17.8px;
}
ol{
	text-align: center;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: darkblue;
	background: white; 
}
.adaptacia{
	display: none;
}
.mon{
	display: none;
}
.insheadaptaaa{
	display: none;
}






/*__________________________________________________________________________*/
@media screen and (max-height:897px) and (max-width:415px){
/*	body{
		background: red;
	}
*/
/*	.mon{
		display: block;
	}*/
	.adaptacia{
		display: block;
		background: #fff;
	}
	iframe{
		width: 320px;
		margin-left: 15px;
	}
	.videoo{
		justify-content: center;
	}
	.inshe{
		display: none;
	}
	.insheadapt{
		background: lightblue;
	}
	.content{
		display: none;
	}
	/* > a{
		border-bottom: none;
	}
	button a{
		text-decoration: none;
	}*/
	a{
		color: black;
	}
	a:hover{
		text-decoration: none; 
		color: blue;
	}
	button{
		background: #9494b8;
/*		border: solid 1.2px; */
		margin-bottom: 2px; 
	}
	.insheadapt{
		display: block;
		margin-top: 25.6px;
		background: #fff;
		border-top: solid lightblue 10px;
	}
	.insheadapt a{
		color: blue;
	}
	.insheadapt a:hover{
		color: lightblue;
/*		background: ;*/
	}
	.insheadaptaaa{
		display: none;
	}
}
@media screen and (min-width: 766px) and (min-height:1024px){
/*	body{
		background: red;
	}*/
	.mon{
		display: block;
	}
	.inshe{
		display: none;
	}
/*	.insheadapt{
		display: block;
	}*/
	.insheadaptaaa{
		display: block;
	}
}





