*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: lightblue;
}
.photo{
	margin-top: 20px;
}
h1, h2, h3, h4{
	text-align: center;
}
p{
	font-family: Myriad Pro;
}
.adapionfoto{
	display: none;
}

.clfsiccont{
	background: #fff;
}
.easy{
	border: double lightblue 3px;
/*	margin-right: px; */
}
.easys{
	border: double lightblue 3px;
/*	margin-right: px; */
	margin-left: 50px;
}
.fotoclasic img{
	border: 5px double lightblue; 
	margin-top: 15px;
}
.fingerstyle{
	/*background: #fff;*/
	 border-top: solid lightblue 15px; 
}
.fingerstylecon{
	background: #fff;
}
/*.po{
	border: solid 10px;
}*/
.fotostyle img{
	border: 5px solid lightblue; 
	margin-top: 15px;
	width: 450px;
}
.fing{
	border:double lightblue 3px;
}
.fotostyle{
	margin-bottom: 25.7px; 
}


/*----------------------------------------------------------------------------------------------------*/



@media screen and (max-height:897px) and (max-width:415px){
	/*body{
		background: red;
	}*/
	.foto img{
		display: none;
	}
	.adapionfoto{
		display: block;
		margin-left: 25px;
	}
	.adapionfoto img{
		width: 310px; 
		border: 3px double lightblue; 
	}
	.adaptionclas{
		border: double lightblue 3px;
	}
	.fotoclasic{
		display: none;
	}
	.easys{
		margin-left: 0px; 
	}
	.easys{
		margin-bottom: 25px;
	}
	.easy{
		margin-bottom: 25px; 
	}
	li{
		text-align: center;
	}
/*	.fotostyle{
		margin left: 25px;
	}*/
	
	.fotostyle img{
		width: 320px;

	}
	p{
		margin-left: 12.15px;
		margin-right:10.15px;
	}
}
/*---------------------------------------------------------------------------------------------------*/


@media screen and (min-width: 764px) and (min-height: 1020px){
	/*body{
		background: red;
	}*/
	p{
		font-family: Snell Roundhand, cursive;
	}
	.adaa {
		display: none;
	}  
	.adaad{
		margin-left: 120px;
	}
	li{
		text-align: center;
	}
	.easys{
		margin-left:0px;
		margin-bottom:25px;
	}
	.easy{
		margin-bottom: 25px;
	/*	border: #262626 dotted 5px; */
	}
	.fotoclasic img{
		border: 5px dotted #262626;
	}
	.fotostyle img{
		border: 5px dotted #262626;
		width: 450px;
		margin-left: 160px;
	}
	.fotoclasic{
		margin-left: 160px;
		margin-bottom: 20px;
		/*margin-bottom: */
	}
	.fotostyle{
		margin-bottom: 20px;
	}
	p{
		margin-left: 10px; 
		margin-right: 10px;
	}
	a: link{
		color: lightblue; 
	}
/*	a: visitd{
		color: silver;
	}*/
/*   	a: hover{
   		background: silver;
   	}*/
}
/*-----------------------------------------------------------------------------------------------------------------*/



/*@media screen and(min-height: 1112px){
	body{
		background: red;
	}
}
*/