*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: lightblue;
}
.photo{
	margin-top: 20px;
}
h1, h2, h3, h4{
	text-align: center;
}
.rozkaz{
	background: #fff;
	margin-top: 20px;
}
.navigator{
	margin-bottom: 12px;
	margin-left: 12px;
	border: double lightblue; 
	content: 15px;
}
.asa{
	margin-top: 12px;
	margin-left: 12px;
	border: double lightblue;
}
.navigatcia{
	border: double lightblue;
}
.narodni{
	border-top: solid black: 
}
.linia{
	
	border-top: solid lightblue: 
}
.mateocarcassi{
	border-top: solid lightblue;
}
.zmist{
	border: double lightblue;
	margin-top: 10px;
}
.Finger{
	border-top: solid 25px lightblue;
}
.rozkaz2{
	background: #fff;
}
.navigatciafinger{
	border: double lightblue;
}